<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
<body>
	<!--
		Fragment hlavicky stranky.
		
		Parametry:
			pageTitle - nazev stranky 
	-->
	<head th:fragment="head">
		<title th:text="${pageTitle}">Spring Application Test</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<!--
		Fragment zahlavi stranky.
		
		Parametry:
			pageTitle - nazev stranky 
	-->
	<div th:fragment="header">
		<h1 th:text="${pageTitle}">Spring Application Test</h1>
	</div>
	
	<!--
		Fragment paticky stranky.
	-->
	<div th:fragment="footer">
		&copy; 2012 Zdeněk Merta
	</div>
	
	<!--
		Fragment hlavniho menu.
		
		Parametry:
			activeMenu - identifikator vybrane polozky 
	-->
	<ul th:fragment="menu">
		<li th:switch="${activeMenu}">
			<span th:case="'home'">Úvod</span>
			<a th:case="*" th:href="@{/}">Úvod</a>
		</li>
		
		<li th:switch="${activeMenu}">
			<span th:case="'form'">Formulář</span>
			<a th:case="*" th:href="@{/form}">Formulář</a>
		</li>
	</ul>
	
</body>
</html>