<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	
	<head>
		<title>Spring Application Test - Success</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
		
	<body>
	
		<p>Formulář byl uložen</p>	
		<p>Výsledek: <span th:text="${formResult}"></span></p>
		
	</body>
</html>