<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	
	<head>
		<title>Spring Application Test: signin</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
		
	<body>
	
		<form action="#" th:action="@{/signin/authenticate}" method="post">
			<fieldset>
				<label for="username" th:text="#{signin.form.field.username}"></label>
				<input type="text" name="username" id="username" />
			</fieldset>
			
			<fieldset>
				<label for="password" th:text="${#messages.msg('signin.form.field.password')}">Heslo</label>
				<input type="password" name="password" id="password" />
			</fieldset>
			
			<fieldset>						
				<input type="submit" name="signin" id="signin" value="Přihlásit" th:value="${#messages.msg('signin.form.button.signin')}" />		
			</fieldset>	
		</form>	
	
	</body>
</html>